{% macro block_sidebar() %}
<div class="page-sidebar">
    <div class="sidebar">
        {% if not current_user.is_anonymous %}
        <div class="user-panel">
            <h5><i class="fa fa-line-chart icon-big"></i> Your activity: </h5>
            <div class="activity">
                <p><i title="Posts" class="fa fa-newspaper-o "></i>{{ user_posts | length }}</p>
                <p><i title="Comments" class="fa fa-comment-o"></i>{{ user_comments | length }}</p>
            </div>
            <div class="activity">
                <p><i title="Photos" class="fa fa-picture-o "></i>{{ user_photos | sum }}</p>
                <p><i title="Videos" class="fa fa-film"></i>{{ user_videos | sum }}</p>
            </div>

        </div>
        {% endif %}
        <div class="stats">
            <h5><i class="fa fa-area-chart icon-big"></i> Site summary: </h5>
            <div class="activity">
                <a href="{{ url_for('view.view_content', content_type='posts') }}"><p><i title= "All posts" class="fa fa-newspaper-o"></i> {{ posts | length }}</p></a>
                <p><i title= "All comments" class="fa fa-comment-o"></i> {{ comments_count }}</p>
            </div>
            <div class="activity">
                <a href="{{ url_for('view.view_content', content_type='photos') }}"><p><i title="All photos" class="fa fa-picture-o"></i> {{ photos | length }}</p></a>
                <a href="{{ url_for('view.view_content', content_type='videos') }}"><p><i title= "All videos" class="fa fa-film"></i> {{ videos | length }}</p></a>
            </div>
            <div class="activity">
                <p><i title="All users" class="fa fa-users"></i> {{ users | length }}</p>
                <p><i title= "Online users" class="fa fa-globe"></i> {{ online_users | length }}</p>
            </div>
        </div>
    </div>
</div>
{% endmacro %}
