.post-content {
  width: 100%;
  padding: 5%;
  border: $border;
  margin-top: 30px;
  .visible-post {
    margin-bottom: 10%;
    display: flex;
    flex-direction: column;
    p, h4 {
      margin-top: 10%;
    }
    .neighbour-posts {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h5 {
      margin-bottom: 0;
    }
  }
}








