@media screen and (max-width: 880px) {
  .hamburger-item {
    display: flex!important;
  }
  .home-section {
    display: block!important;
  }
  .visible-post .meta {
    display: block!important;
  }
  .other-menu-items, .other-menu-items li {
    width: 100%!important;
  }
  .home-posts {
    width: 100%!important;
  }
  .sidebar {
    padding: 0!important;
    margin-top: 50px!important;
    width: 100%!important;
    position: static!important;
  }
  .post-actions {
    margin-top: 20px!important;
    display: flex!important;
    justify-content: flex-end!important;
  }
  .comment {
    width: 100%!important;
  }
  .comments-hr {
    display: none!important;
  }
  .small-jumb {
    width: 100%!important;
    margin-top: 200px!important;
  }
  .small-jumb h1 {
    font-size: 30px!important;
  }
  .small-jumb p {
    font-size: $mainfontsize!important;
  }
  .explore-btn {
    display: none!important;
  }
  .other-menu-items {
    flex-direction: column-reverse!important;
  }
  .label-link {
    flex-direction: row!important;
  }
  .label-p {
    font-size: $mainfontsize!important;
    margin-left: 15px!important;
    margin-top: 0!important;
  }
  .jumbotron {
    height: 50%!important;
    background-image: url("../images/spina.jpg")!important;
    background-attachment: fixed!important;
    background-position: center!important;
    background-size: cover!important;
  }
  .form-group {
    width: 80%!important;
  }
  .viewing-photos {
    flex-direction: column!important;
    justify-content: center!important;
    align-items: center!important;
  }
  .view_media {
    width: 80%!important;
  }
  .nav-hidden {
    display: none;
  }
  .post-form, .post-content {
    margin-bottom: 50px!important;
  }
  .comments-form {
    .form-btn {
      margin-top: 0!important;
    }
    textarea, input {
      width: 100%!important;
    }
  }
  .visible-post-comments-content {
    padding: 0!important;
  }
  .login-block {
    width: 100%!important;
    padding: 0 40px!important;
    border: 0!important;
  }
}
