$maincolor: rgba(7, 94, 175, 0.8);
$textcolor: gray;
$background-color: #ffffff;
$mainfont: "Quicksand", sans-serif;
$mainfontsize: 16px;
$smallfontsize: 12px;
$headerfontsize: 30px;
$bigiconsize: 20px;
$border: 1px solid rgba(192,192,192,.2);