@import url(https://fonts.googleapis.com/css?family=Quicksand);
::-webkit-scrollbar {
  width: 0;
}
$maincolor: rgba(7, 94, 175, 0.8);
$textcolor: gray;
$textwhite: white;
$background-color: #ffffff;
$mainfont: "Quicksand", sans-serif;
$mainfontsize: 16px;
$smallfontsize: 12px;
body {
  font-family: $mainfont;
  margin: 0;
  background: $background-color;
}
* {
  box-sizing: border-box;
}

iframe, img {
  max-width: 90%;
}

.view-pic {
 max-width: 30%;
}
a:link, a:visited, a:active, a:hover, a:focus {
  text-decoration: none;
}
a {
    color: $maincolor;
}

.not-found {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.p-style {
  font-size: $mainfontsize;
  color: $textcolor;
  text-align: justify;
}
.h-style {
  text-align: center;
  font-size: 30px;
  font-weight: bold;
  margin: 140px 0;
}
.home-section .h-style {
  margin-top: 10px;
}
.home-section {
  display: flex;
}

.home-posts {
  display: flex;
  flex-direction: column;
  width: 70%;
  height: 100vh;
  overflow: scroll;
}
.section-style {
  min-height: 100vh;
  padding: 5% 0;
  position: relative;
}
/* NAV */
nav {
  text-align: center;
  position: fixed;
  width: 100%;
  margin: 0;
  z-index: 999;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-between;
    background-color: $background-color;
    color: $maincolor;
    border-bottom: 1px solid lightgray;
    ul {
      display: none;
      position: absolute;
      li {
        display: block;
        transition: 0.3s;
      }
    }
    li {
      display: flex;
      line-height: 60px;
      height: 60px;
      min-width: 200px;
      transition: 0.3s;
      font-weight: bold;
      font-size: $mainfontsize;
      color: $maincolor;
      align-items: center;
      justify-content: center;

      &:hover {
        cursor: pointer;
        a {
          cursor: pointer;
        }
        ul {
          display: block;
          margin-top: 148px;
        }
      }
    }
    a {
      text-decoration: none;
      .logo-container {
        display: flex;
        align-items: center;
        justify-content: center;
        .logo-btn {
          background-image: url("../images/logo.png");
          width: 50px;
          height: 50px;
          background-size: contain;
        }
        p {
          margin-bottom: 0;
        }
      }
    }
    .menu-item-logo {
      text-align: left;
    }
    .other-menu-items {
      display: flex;
      li {
        transition: 0.3s;
        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}
/* JUMBOTRON */
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}
.cursor {
  opacity: 0;
  transition: .2s;
}
.cursor-hide {
  opacity: 1;
}
.underline {
  padding: 1px;
  background: $textwhite;
  width: 80%;
  margin-left: 10%;
  opacity: 0;
  transition: .8s;
}
.jumbotron {
  width: 100%;
  height: 100vh;
  opacity: 0.85;
  text-align: center;
  display: flex;
  position: relative;
  background: black;
  align-items: center;
  overflow: hidden;
  .jumb-video {
      min-width: 100%;
      min-height: 100vh;
      position: fixed;
      top: 0;
      left: 0;
  }
  .video-container{
      height: 100%;
      left: 0;
      top: 0;
      overflow: hidden;
  }
  .small-jumb {
      width: 60%;
      text-align: center;
      color: white;
      padding: 5%;
      margin: 0 auto;
      z-index: 2;
      letter-spacing: 2px;
  }
  h1 {
      font-size: 48px;
      text-shadow: 0 0 2px;
      letter-spacing: 1px;
      transition: .5s;
  }
  p {
      font-size: 24px;
      font-weight: normal;
      margin-top: 30px;
      padding-bottom: 10%;
      height: 140px;
  }
  .explore-btn {
    width: 100%;
    min-width: 340px;
    font-size: 30px;
    font-weight: bold;
    color: $maincolor;
    transition: 0.8s;
    cursor: pointer;
    border: none;
    background-color: $textwhite;
    background-position: 100% 0;
    background-size: 300%;
    background-image: linear-gradient(45deg, $maincolor 50%, transparent 50%);
    padding: 25px;
    margin: 5% auto auto auto;
    box-shadow: 15px 15px 60px 10px gray;
    &:hover {
        color: $textwhite;
        background-position: 0 100%;
    }
  }
}
.page-content {
  position: relative;
}
.post-content {
  width: 100%;
  padding: 0 10%;
  border-right: 2px solid rgba(192, 192, 192, 0.2);
}
.sidebar {
  width: 30%;
  padding: 0 5%;
}
.timer {
  min-height: 260px;
  width: 100%;
  background: url("../images/spina.jpg");
  background-size: cover;
  color: $textwhite;
  text-shadow: 0 0 1px black;
  box-shadow: 0 0 4px black;
  text-align: center;
  font-weight: bold;
  padding: 10% 8%;
  .crete {
      font-size: 3em;
      text-shadow: none;
      margin-bottom: 20px;
  }
  .timer-inner {
      display: flex;
      justify-content: space-around;
      font-size: 22px;
      .timer-item {
          width: 25%;
          border-right: 1px solid $textwhite;
      }
      .timer-item:last-child {
          border-right: 0;
      }
      .timer-p {
          font-size: 0.75*$mainfontsize;
          margin-bottom: 0;
      }
  }
}

/* VIEV POSTS */
.vieving-posts, .view_post {
  margin: 30px 0;
}
.viewing-pics {
display: flex;
justify-content: flex-start;
}
.view-pic-item {
width: auto;
}
.view_post {
  padding: 30px 20px;
  border-radius: 10px;
  .p-content {
      margin: 30px 0 0 0;
  }
}
.sort-options {
  display: flex;
  justify-content: flex-end;
}
.sort-options a, .post-actions a {
  margin: 0 5px;
}
.readmorebtn {
  border: none;
  color: $maincolor;
  font-weight: bold;
}
.form-btn {
  transition: 0.8s;
  border: none;
  background-color: $maincolor;
  background-position: 100% 0;
  background-size: 300%;
  background-image: linear-gradient(45deg, #FAF5F0 50%, transparent 50%);
  &:hover {
      color: $maincolor;
      background-position: 0 100%;
  }
}
.meta-btn {
      font-size: $smallfontsize;
  }
.form-meta {
  display: flex;
  justify-content: space-between;
}
.form-author {
  width: 25%
}
.form-title {
  width:75%
}
/* SINGLE POST VIEW */
#home {
  display: block;
}
.visible-post, .visible-post-comments, .no-visible-posts {
  margin-bottom: 10%;
}
.visible-post-comments-content {
  padding-left: 5%;
  display: none;
}
.visible-post p, .visible-post h4 {
  margin-top: 10%;
}
.leave-comments, .left-comments  {
  margin-top: 5%;
}
.comments-h {
  margin-bottom: 2%;
  font-weight: bold;
}
.comment-p {
  margin-bottom: 0;
}
.comments-hr {
  width: 65%;
  margin-right: 35%;
}
.comment-hr {
  width: 20px;
}
.comment {
  padding: 20px 0;
  width: 65%;
}
.quot {
  margin-left: 10px;
}
.user-icon {
  padding: 5px;
  width: 40px;
  height: 40px;
}
.user-icon-fa {
  font-size: 20px;
  color: dimgrey;
}
.quot-icon-fa {
  font-size: 10px;
  color: darkgray;
  padding: 0 5px;
}
.credentials, .arrow-icon-fa {
  font-size: $smallfontsize;
}
.author, .arrow-icon-fa {
  color: $maincolor;
  font-weight: bold;
}
.post-actions {
  display: inline-flex;
}
.neighbour-posts, .meta {
  display: flex;
  justify-content: space-between;
  align-items: center;
  h5 {
      margin-bottom: 0;
  }
}

.meta {
  margin-top: 0;
}

.neighbour-posts {
  margin-top: 50px;
}
#home-feed .neighbour-posts {
  display: none;
}
.form-horizontal, .sort-options {
  margin-top: 60px;
}
/* FOOTER */
footer {
  background-color: #313332;
  color: $textwhite;
  text-align: center;
  .footer {
      padding: 25px 0;
  }
  .copyright {
      text-align: center;
      font-size: $smallfontsize;
      background-color: #252726;
      padding: 5px 0;
      p {
          margin-bottom: 0;
      }
  }
}
/* SOCIAL */
.social, .copyright {
  display: flex;
  align-items: center;
  justify-content: center;
}
.icon-btn {
  height: 30px;
  width: 30px;
  border: 0;
  color: $textwhite;
  border-radius: 50%;
  margin: 5px;
  cursor: pointer;
  font-size: $mainfontsize;
  line-height:$mainfontsize;
  &:hover {
      transform: scale(1.1);
      color: $textwhite;
  }
}
.facebook-btn {
  color: #3B5998;
  &:hover {
      background-color: #3B5998;
  }
}
.instagram-btn {
  color: #5C3D2E;
  &:hover {
      background-color: #5C3D2E;
  }
}
.github-btn {
  color: #4183C4;
  &:hover {
      background-color: #4183C4;
  }
}
.linkedin-btn {
  color: #007BB6;
  &:hover {
      background-color: #007BB6;
  }
}

#nav-icon1 {
  width: 35px;
  height: 35px;
  position: relative;
  align-self: flex-end;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;;
  overflow: hidden;
  margin: auto;
}

#nav-icon1 span {
  display: block;
  position: absolute;
  height: 4px;
  background: $maincolor;
  border-radius: 9px;
  opacity: 1;
  left: 0;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .3s ease-in-out;
}

#nav-icon1:hover span, #nav-icon1:hover span:nth-child(1), #nav-icon1:hover span:nth-child(2), #nav-icon1:hover span:nth-child(3) {
  width: 100%;
}


#nav-icon1 span:nth-child(1) {
  top: 0;
  width: 65%;
}

#nav-icon1 span:nth-child(2) {
  top: 15px;
  width: 48%;
}

#nav-icon1 span:nth-child(3) {
  top: 30px;
  width: 90%;
}

#nav-icon1.open span {
  width: 100%;
}

#nav-icon1.open span:nth-child(1) {
  top: 15px;
  -webkit-transform: rotate(135deg);
  -moz-transform: rotate(135deg);
  -o-transform: rotate(135deg);
  transform: rotate(135deg);
}

#nav-icon1.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}

#nav-icon1.open span:nth-child(3) {
  top: 15px;
  -webkit-transform: rotate(-135deg);
  -moz-transform: rotate(-135deg);
  -o-transform: rotate(-135deg);
  transform: rotate(-135deg);
}

@media (max-width: 880px) {

  nav ul, nav li {
    display: block;
  }
  .home-section {
    display: block;
  }
  .home-posts {
    width: 100%;
  }
  .post-content {
    border-right: none;
    border-bottom: 2px solid rgba(192, 192, 192, 0.2);

  }
  .sidebar {
    padding: 0 10%;
    margin-top: 50px;
    width: 100%;
  }
  .post-content, .sidebar {
    padding: 0;
  }
  .visible-post .meta {
    display: block;
  }
  .post-actions {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
  }
  .comment {
    width: 100%;
  }
  .comments-hr {
    display: none;
  }
  .small-jumb {
    width: 100%!important;
    margin-top: 200px!important;
  }
  .small-jumb h1 {
    font-size: 30px;
  }
  .small-jumb p {
    font-size: $mainfontsize;
  }
  .explore-btn {
    display: none!important;
  }
  .other-menu-items {
    flex-direction: column-reverse;
  }
  .jumbotron {
    height: 50%!important;
    background-image: url("../images/spina.jpg");
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
  }
  .video-container {
    display: none;
  }
}
 /*.h-style {*/
    /*margin-bottom: 80px;*/
 /*}*/
 /*.sometext {*/
    /*font-size: 1.3rem;*/
    /*margin: 0 80px;*/
    /*padding: 80px;*/
 /*}*/
 /*.sometext p {*/
    /*margin-left: 60px;*/
 /*}*/
 /*.sometext img {*/
    /*width: 45%;*/
    /*text-align: center;*/
    /*margin-left: 26%;*/
    /*margin-top: 70px;*/
    /*padding-left: 0;*/
    /*margin-bottom: 80px;*/
 /*}*/
 /*footer .footer-part {*/
    /*margin-bottom: 45px;*/
 /*}*/
 /*footer p, footer .pclass {*/
    /*font-size: 1.2em;*/
 /*}*/
 /*footer h1 {*/
    /*font-size: 1.6em;*/
 /*}*/
 /*.icon-btn {*/
    /*font-size: 35px;*/
 /*}*/
 /*.social button {*/
    /*width: 60px;*/
    /*height: 60px;*/
    /*margin: 27px 7px;*/
 /*}*/
/*}*/
/*@media (max-width: 767px) {*/
 /*.h-style {*/
    /*font-size: 40px;*/
    /*margin-bottom: 40px;*/
 /*}*/
  /*nav {*/
     /*position: static;*/
  /*}*/
  /*nav ul {*/
    /*float: none;*/
 /*}*/
 /*nav li {*/
    /*display: block;*/
    /*width: 100%;*/
    /*font-size: 1.9rem;*/
 /*}*/
 /*nav ul ul {*/
    /*width: 60%;*/
    /*position: relative;*/
    /*margin-left: 40%;*/
    /*opacity: 0.9;*/
 /*}*/
 /*nav ul ul li {*/
     /*width: 100%;*/
     /*margin: 0 auto;*/
  /*}*/
 /*.sometext {*/
    /*margin: 0 20px;*/
    /*font-size: 1.1rem;*/
 /*}*/
 /*.sometext img {*/
    /*max-width: 80%;*/
    /*text-align: center;*/
    /*margin-left: 10%;*/
    /*margin-top: 70px;*/
    /*padding-left: 0;*/
 /*}*/
 /*footer .footer-part {*/
    /*margin-bottom: 45px;*/
 /*}*/
 /*footer p, footer .pclass {*/
    /*font-size: 1.2em;*/
 /*}*/
 /*footer h1 {*/
    /*font-size: 1.6em;*/
 /*}*/
 /*.social button {*/
    /*width: 55px;*/
    /*height: 55px;*/
    /*margin: 27px 7px;*/
 /*}*/
 /*.icon-btn {*/
    /*font-size: 33px;*/
 /*}*/
/*}*/
