{% macro block_likes(user_post_likes, user, post, likes) %}
    <div class="likes-block">
        {% if not current_user.is_anonymous %}
            <p class="likes-p">
            {% if current_user.id != post.author %}
                {% if user_post_likes %}
                    <a class="like like-link" href="{{ url_for('post.unlike_post', user_id=current_user.id, post_id=post.id) }}" name="unlike-btn"><i class="fa fa-thumbs-down" title="Unlike"></i></a>
                {% else %}
                   <a class="like-icon like-link" href="{{ url_for('post.like_post', user_id=current_user.id, post_id=post.id) }}" name="like-btn"><i class="fa fa-thumbs-up" title="Like"></i></a>
                {% endif %}
            {% else %}
                <i class="fa fa-thumbs-up like" title="Likes"></i>
            {% endif %}
            {{ likes | length  }}
            {% if likes %}
                <span class="credentials likes-span">
                Liked by
                    {% for l in range(likes | length) %}
                        {% if likes[l][1].username == current_user.username %}
                            {% if l < (likes | length)-1 %}
                                <a href="{{ url_for('account.view_profile', username=likes[l][1].username) }}"> You </a>,
                            {% else %}
                                <a href="{{ url_for('account.view_profile', username=likes[l][1].username) }}"> You </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                    {% for l2 in range(likes | length) %}
                        {% if likes[l2][1].username != current_user.username %}
                            {% if l2 < (likes | length)-1 %}
                                <a href="{{ url_for('account.view_profile', username=likes[l2][1].username) }}"> {{ likes[l2][1].username }} </a>,
                            {% else %}
                                <a href="{{ url_for('account.view_profile', username=likes[l2][1].username) }}"> {{ likes[l2][1].username }} </a>
                            {% endif %}
                        {% endif %}
                    {% endfor %}
                </span>
            {% else %}
                <p class="credentials likes-span"> Be the first one to like this!</p>
            {% endif %}
            </p>
        {% else %}
            <p class="likes-p like"> <i class="fa fa-thumbs-up" title="Likes"></i>{{ likes | length  }} </p>
        {% endif %}
    </div>
{% endmacro %}
