.post-content {
  width: 100%;
  padding: 5%;
  border: $border;
  margin-top: 30px;
  .visible-post {
    display: flex;
    flex-direction: column;
    h4 {
      margin-top: 10%;
    }
    .neighbour-posts {
      margin-top: 50px;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    h5 {
      margin-bottom: 0;
    }
  }
}
.likes-span {
  margin-left: 10px;
}
.like-link .fa-thumbs-up, .like-link .fa-thumbs-down {
  border: 1px solid $background-color;
  border-radius: 50%;
  padding: 5px;
  transition: 0.3s;
}
.like-link .fa-thumbs-up:hover, .like-link .fa-thumbs-down:hover {
  border: 1px solid $maincolor;
  background-color: $maincolor;
  color: $background-color;
}
.like {
  color: $maincolor;
}
.likes-block {
  border-top: $border;
  border-bottom: $border;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px 0;
}




