{% macro block_jumbotron(source) %}
<section>
    <div class="jumbotron">
        <div class="small-jumb">
            <h1>
                <span class="title-anm"></span>
                <span class="cursor cursor-hide">|</span>
            </h1>
            <hr class="underline">
            <p></p>
            <a href="#home" class="explore-btn"> Explore Journeys <i class="fa fa-angle-double-right"></i></a>
        </div>
        <div class="video-container">
            <video autoplay loop muted class="jumb-video">
                <source src={{ source }} type="video/mp4">
            </video>
        </div>
    </div>
</section>
{% endmacro %}
