{% macro block_footer() %}
<footer id="footer">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-m-12 col-s-12 footer">
                <h5> Find me here: </h5>
                <div class="col-12 social">
                    <a href="https://www.facebook.com/asia.paliwoda" target="_blank" title="Facebook"><button class="icon-btn facebook-btn"><i class="fa fa-facebook"></i></button></a>
                    <a href="https://www.instagram.com/asia_paliwoda/" target="_blank" title="Instagram"><button class="icon-btn instagram-btn"><i class="fa fa-instagram"></i></button></a>
                    <a href="https://github.com/asia111307" target="_blank" title="GitHub"><button class="icon-btn github-btn"><i class="fa fa-github"></i></button></a>
                    <a href="https://www.linkedin.com/in/joanna-paliwoda-04644a153/" target="_blank" title="LinkedIn"><button class="icon-btn linkedin-btn"><i class="fa fa-linkedin"></i></button></a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-12 copyright">
        <div class="row">
            <p> Copyrights 2019, Tiny Journeys </p>
        </div>
    </div>
</footer>
{% endmacro %}
