{% macro block_nav() %}
<nav id="nav">
    <div class="container">
        <ul>
            <div class="logo-menu-item">
                 <a href="/" title="Tiny Journeys" class="menu-item-logo">
                <li>
                    <div class="logo-container">
                        <div class="logo-btn"></div>
                        <p> | Tiny Journeys </p>
                    </div>
                </li>
            </a>
            </div>
            <div class="other-menu-items">
                <li class="nav-hidden">
                    Posts
                    <ul>
                        <a href="/add/post"><li> Add post </li></a>
                        <a href="/view/posts"><li> View posts </li></a>
                        <a href="/view/photos"><li> View pictures </li></a>
                        <a href="/view/videos"><li> View videos </li></a>
                    </ul>
                </li>
                <li class="nav-hidden">
                    {% if current_user.is_authenticated %}
                        <p><i class="fa fa-user icon-big"></i><a href="/profile">{{ current_user.username }} </a></p><a href="/account/logout/{{ current_user.id }}"><i title="Logout" class="fa fa-sign-out account-icon-fa icon-big"></i></a>
                    {% else %}
                        <a href="/account/login"><i title="Login" class="fa fa-sign-in account-icon-fa icon-big"></i></a>
                    {% endif %}
                </li>
                <li class="hamburger-item">
                    <div id="nav-icon1" class="start">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </li>
            </div>

        </ul>
    </div>
</nav>
{% endmacro %}
