{% macro block_sidebar() %}
<div class="sidebar">
    {% if not current_user.is_anonymous %}
    <div class="user-panel">
        <p>Current user: {{ current_user.username }}</p>
        <h5>Your activity: </h5>
        <p>Posts: {{ user_posts | length }}</p>
        <p>Comments: {{ user_comments | length }}</p>
    </div>
    {% endif %}
    <div class="stats">
        <h5>Page summary: </h5>
        <p>Number of all users: {{ users | length }}</p>
        <p>Currently logged in users: {{ online_users }}</p>
    </div>
</div>
{% endmacro %}
