{% macro block_login_form(feedback) %}
    <div class="login-block">
        <form method="post" class="login-form">
            <div class="form-meta">
                {%  if feedback %}
                    <p class="feedback">{{ feedback }}</p>
                {% endif %}
            </div>
            <div class="form-group form-username">
{#                <label for="username" data-toggle="tooltip" title="Username" data-placement="left"> Username </label>#}
                <input type="text" name="username" id="username" placeholder="Username" class="form-control" required><br>
            </div>
            <div class="form-group form-password">
{#                <label for="password" data-toggle="tooltip" title="Password" data-placement="top"> Password </label>#}
                <input type="password" name="password" id="password" placeholder="Password" class="form-control" required><br>
            </div>
            <button type="submit" class="btn btn-info form-btn btn-no-round login-btn"> Login </button>
            <h5 class="yet-registered">Don't have an account yet? <a href="/account/register"><b>Register now!</b></a> </h5>
        </form>
    </div>

{% endmacro %}
