{% macro block_form(type, post) %}
<form class="form-horizontal"  method="post" action={{ '/addpost' if type=='add' else '/editpost/{}'.format(post.id) }}>
        <div class="form-meta">
            <div class="form-group form-author">
                <label for="author" data-toggle="tooltip" title="Your name" data-placement="left"> Your name </label>
                <input type="text" name="author" id="author" placeholder="Type your name here" class="form-control" value="{{ post.author if post else 'Admin' }}" required readonly><br>
            </div>
            <div class="form-group form-title">
                <label for="title" data-toggle="tooltip" title="Post title" data-placement="top"> Post title </label>
                <input type="text" name="title" id="title" placeholder="Type post title here" class="form-control" value="{{ post.title if post }}" required><br>
            </div>
        </div>
        <div class="form-group">
            <label for="content" data-toggle="tooltip" title="Post content" data-placement="top"> Post content </label>
            <textarea name="content" id="content" placeholder="Type post content here" class="form-control" rows="8" required>{{ post.content if post }}</textarea>
        </div>
        {% if type=='add' %}
            <button type="reset" class="btn btn-info form-btn" id="reset-btn"> Clear </button>
            <button type="submit" class="btn btn-info form-btn"> Add post </button>
        {% else %}
            <button type="submit" class="btn btn-info form-btn"> Save changes </button>
        {% endif %}

    </form>
{% endmacro %}
