{% extends "start.html" %}

{% block title %} Admin Panel {% endblock %}

{% block content %}
    <section class="section-style container">
    <div class="add-tag admin-block">
    <h5> Tags for post </h5>
        <form class="tag-form" action="/add/tag" method="post">
            <input type="text" name="new_tag" placeholder="Type new tag name">
            <button type="submit" class="btn btn-info form-btn"> Add </button>
        </form>
         <p><b> Unique tags ({{ tags | length }}): </b></p>
        {% for tag in tags %}
            {{ tag.name }}
            <a href="/delete/tag/{{ tag.id }}" name="delete-tag-btn"> <i class="fa fa-times"></i></a>
            <br>
        {% endfor %}
        <br>
        <br>
        <p><b> Tagposts ({{ tagposts | length }}): </b></p>
        {% for tagpost in tagposts %}
            {{ tagpost[1].name }} : <a href="/view/post/{{ tagpost[2].id }}">{{ tagpost[2].id }}</a><br>
        {% endfor %}
        <br>
    </div>
    <div class="users admin-block">
        <h5> All users ({{ users | length }}) </h5>
    <table class="users-table">
        <tr>
            <th>ID</th>
            <th> Profile image </th>
            <th> Username </th>
            <th> Password </th>
            <th> Creation date </th>
            <th> Is admin </th>
            <th> Is locked </th>
            <th> Is online </th>
        </tr>
        {% for user in users %}
            <tr>
              <td> {{ user.id }}</td>
              <td>
                {% if user.profile_image %}
                    {% if 'http' in user.profile_image %}
                        <img class="profile-img-nav" alt="Profile picture" src="{{ user.profile_image }}">
                    {% else %}
                        <img class="profile-img-nav" alt="Profile picture" src="{{ url_for('static', filename='{}'.format(user.profile_image)) }}">
                    {% endif %}
                {% endif %}
              </td>
              <td>
                  <a href="/profile/{{ user.username }}"> {{ user.username }} </a>
              </td>
              <td> {{ user.password }}</td>
              <td> {{ user.creation_date }}</td>
              <td>
                {% if user.isAdmin %}
                    <span class="mark-green"> <b> {{ user.isAdmin }} </b></span>
                {% else %}
                    {{ user.isAdmin }}
                {% endif %}
              </td>
              <td>
                {% if user.isLocked %}
                    <span class="mark-red"> <b> {{ user.isLocked }} </b></span>
                {% else %}
                    {{ user.isLocked }}
                {% endif %}
              </td>
              <td>
                {% if user.isOnline %}
                    <span class="mark-green"> <b> {{ user.isOnline }} </b></span>
                {% else %}
                    {{ user.isOnline }}
                {% endif %}
              </td>
              <td>
                  <a href="/delete/user/{{ user.id }}" name="delete-user-btn"> <i class="fa fa-times" title="Delete user"></i></a>
              </td>
              <td>
                  {% if user.isLocked %}
                      <a href="/unlock/user/{{ user.id }}" name="unlock-user-btn"> <i class="fa fa-unlock" title="Unlock user"></i></a>
                  {% else %}
                      <a href="/lock/user/{{ user.id }}" name="lock-user-btn"> <i class="fa fa-lock" title="Lock user"></i></a>
                  {% endif %}
               </td>
{#              {% if user.isOnline %}#}
{#                  <td>#}
{#                    <a href="/account/logout/{{ user.id }}" name="logout-user-btn"> <i class="fa fa-sign-out" title="Logout user"></i></a>#}
{#                  </td>#}
{#              {% endif %}#}
         {% endfor %}
        </tr>
    </table>

    </div>
{% endblock %}

