{% extends "start.html" %}
{% block title %}Edit posts{% endblock %}
{% block bootstrap %}
  <!--<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">-->
{% endblock %}
{% block head %}
  <!-- Summernote Editor -->
  <link rel="stylesheet" type="text/css" href="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.css">
  <link rel="stylesheet" type="text/css" href="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.css">
{% endblock %}
{% block content %}
		<section class="section-style">
            <h1 class="h-style"> Edit post </h1>
            <form class="form-horizontal" action="/editpost/{{ post.id }}" method = "post">
                <div class="form-meta">
                    <div class="form-group form-author">
                        <label for="author" data-toggle="tooltip" title="Your name" data-placement="left"> Your name </label>
                        <input type="text" name="author" id="author" placeholder="Type your name here" class="form-control" value="Admin" required readonly><br>
                    </div>
                    <div class="form-group form-title">
                        <label for="title" data-toggle="tooltip" title="Post title" data-placement="top"> Post title </label>
                        <input type="text" name="title" id="title" placeholder="Type post title here" class="form-control" value="{{ post.title }}" required><br>
                    </div>
                </div>
                <div class="form-group">
                    <label for="content" data-toggle="tooltip" title="Post content" data-placement="top"> Post content </label>
                    <textarea name="content" id="content" placeholder="Type post content here" class="form-control" rows="8" required>{{ post.content }}</textarea>
                </div>
                <button type="submit" class="btn btn-info form-btn"> Save changes </button>
            </form>
		</section>
	</div>
{% endblock %}
{% block scripts %}
    <!-- Summernote Editor -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="http://netdna.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.11/summernote.js"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/summernote/lang/summernote-pl-PL.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='plugins/summernote/js/summernote-init.js') }}"></script>
{% endblock%}
