{% extends "start.html" %}
{% from 'blocks/block_post.html' import block_post with context %}
{% from 'blocks/block_jumbotron.html' import block_jumbotron with context %}
{% from 'blocks/block_sidebar.html' import block_sidebar with context %}

{% block title %}Home{% endblock %}
{% block jumbotron %}
{{ block_jumbotron() }}
{% endblock %}

{% block content %}
    <section class="section-style home-section" id="home-feed">
        <div class="home-posts">
        {% if posts %}
            {% for i in range(posts|length) %}
                <div class="post-content">
                    {{ block_post(posts[i], prevs[i], nexts[i], comments[i], comments_counts[i], fullview=False) }}
                </div>
            {%  endfor %}
        {% else %}
            <div class="no-visible-posts">
                <h1 class="h-style"> Hi! </h1>
                <p class="p-style">  <br> No posts yet. Add the first one! </p>
            </div>
        {% endif %}
        </div>
    <div class="page-sidebar">
        {{ block_sidebar(users) }}
    </div>
    </section>
{% endblock %}

