{% extends "start.html" %}
{% block title %}Home{% endblock %}
{% block jumbotron %}
<section>
    <div class="jumbotron">
        <div class="small-jumb">
            <h1> <span class="title-anm"></span><span class="cursor cursor-hide">|</span> </h1>
            <hr class="underline">
            <p></p>
            <a href="#home" class="explore-btn"> Explore Greece <i class="fa fa-angle-double-right"></i></a>
        </div>
        <div class="video-container">
            <video autoplay loop muted class="jumb-video">
                <source src="../static/images/crete.mp4" type="video/mp4">
            </video>
        </div>
    </div>
</section>
{% endblock %}
{% block content %}
        <section class="section-style home-section">
            <div class="post-content">
                {% if post %}
                <div class="visible-post">
                    <h1 class="h-style"><a href="/view/post/{{ post.id }}">{{ '#{} {}'.format(post.id, post.title) }} </a> </h1>
                    <p class="p-style">  {{ post.content | safe  }}</p>
                    <div class="meta">
                        <h5 class="p-style credentials"> Created by <span class="author">{{ post.author }}</span> on {{ '{} {} {}, {}:{}'.format(post.creation_date.day, post.creation_date.strftime('%B'), post.creation_date.year, post.creation_date.hour, post.creation_date.strftime('%M')) }}</h5>
                        <h5 class="p-style credentials">Last modified on {{ '{} {} {}, {}:{}'.format(post.last_modified_date.day, post.last_modified_date.strftime('%B'), post.last_modified_date.year, post.last_modified_date.hour, post.last_modified_date.strftime('%M')) }}</h5>
                    </div>
                    <div class="neighbour-posts">
                        {% if prev %}
                        <h5 class="p-style credentials"><a href="/view/post/{{ prev.id }}"><i class="fa fa-caret-left"></i> {{ '#{} {}'.format(prev.id, prev.title) }}</a></h5>
                        {% else %}
                        <h5></h5>
                        {% endif %}
                        {% if next %}
                        <h5 class="p-style credentials"><a href="/view/post/{{ next.id }}">{{ '#{} {}'.format(next.id, next.title) }} <i class="fa fa-caret-right"></i></a></h5>
                        {% else %}
                        <h5></h5>
                        {% endif %}
                    </div>
                </div>
                <div class="visible-post-comments">
                    <h5>Comments ({{ comments_count }}) <i class="fa fa-caret-down caret-icon-fa"></i></h5>
                    <hr class="comments-hr">
                    <div class="visible-post-comments-content">
                        <div class="leave-comment">
                            <h6 class="comments-h">Leave a comment </h6>
                            <form class="form-horizontal" action="/addcomment/{{ post.id}}" method="post">
                                <div class="form-group row">
                                    <label for="com_author" class="col-sm-2 col-form-label" data-toggle="tooltip" title="Type your name here" data-placement="left"> Your name </label>
                                    <div class="col-sm-6">
                                        <input type="text" name="author" id="com_author" placeholder="Type your name here" class="form-control" required><br>
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="com_content" class="col-sm-2 col-form-label" data-toggle="tooltip" title="Type your comment" data-placement="top"> Your comment </label>
                                    <div class="col-sm-6">
                                        <textarea name="content" id="com_content" placeholder="Type your comment here" class="form-control" rows="2" required></textarea><br>
                                    </div>
                                </div>
                                <button type="reset" class="btn btn-info form-btn"> Clear </button>
                                <button type="submit" class="btn btn-info form-btn"> Send </button>
                            </form>
                        </div>
                        {% if comments %}
                        <div class="left-comments">
                            {% for comment in comments %}
                            <div class="comment">
                                <div class="meta">
                                    <p class="p-style comment-p credentials"> <span class="user-icon"><i class="fa fa-user-circle user-icon-fa"></i></span><span class="author"> {{ comment.author }}</span>, {{ '{} {} {}, {}:{}'.format(comment.creation_date.day, comment.creation_date.strftime('%B'), comment.creation_date.year, comment.creation_date.hour, comment.creation_date.minute) }}</p>
                                    <a href="/delete/comment/{{ post.id }}/{{comment.id}}" name="delete-commentt-btn"> <i class="fa fa-times"></i></a>
                                </div>
                                <span class="quot"><i class="fa fa-quote-left quot-icon-fa"></i></span><span class="p-style">  {{ comment.content }}</span><span><i class="fa fa-quote-right quot-icon-fa"></i></span>
                            </div>
                            {% endfor %}
                        </div>
                        {% else %}
                        <div class="">
                            <p class="p-style">  <br> No comments yet. </p>
                        </div>
                        {% endif %}
                    </div>
                </div>
                {% else %}
                <div class="no-visible-posts">
                    <h1 class="h-style"> Hi! </h1>
                    <p class="p-style">  <br> No posts yet. Add the first one! </p>
                </div>
                {% endif %}

            </div>
            <div class="sidebar">
                <div class="timer">
                    <h1 class="crete">CRETE</h1>
                    <p>Your journey begins in</p>
                    <div class="timer-inner">
                        <div class="timer-item">
                            <span class="days"></span>
                            <p class="timer-p">DAYS</p>
                        </div>
                        <div class="timer-item">
                            <span class="hours"></span>
                            <p class="timer-p">HOURS</p>
                        </div>
                        <div class="timer-item">
                            <span class="minutes"></span>
                            <p class="timer-p">MIN.</p>
                        </div>
                        <div class="timer-item">
                            <span class="seconds"></span>
                            <p class="timer-p">SEC.</p>
                        </div>

                    </div>
                </div>
            </div>

		</section>
{% endblock %}

