{% extends "start.html" %}
{% from 'blocks/block_post.html' import block_post with context %}
{% from 'blocks/block_jumbotron.html' import block_jumbotron with context %}
{% from 'blocks/block_sidebar.html' import block_sidebar with context %}

{% block title %}Home{% endblock %}
{% block jumbotron %}
{{ block_jumbotron(source="../static/images/videos.mp4") }}
{% endblock %}

{#{% block content %}#}
{#    <section class="section-style home-section" id="home-feed">#}
{#        <div class="post-content">#}
{#            {{ block_post(post, prev, next, comments, comments_count, fullview=False) }}#}
{#        </div>#}
{#        {{ block_sidebar() }}#}
{#    </section>#}
{#{% endblock %}#}

{% block content %}
    <section class="section-style home-section" id="home-feed">
        <div class="home-posts">
            {% for i in range(posts|length) %}
            <div class="post-content">
                {{ block_post(posts[i], prevs[i], nexts[i], comments[i], comments_counts[i], fullview=False) }}
            </div>
        {%  endfor %}
        </div>
        {{ block_sidebar() }}
    </section>
{% endblock %}

