{% extends "start.html" %}
{% block title %}View posts{% endblock %}
{% block content %}
		<section class="section-style">
            {% if post %}
            <div class="visible-post">
                <h1 class="h-style">{{ '#{} {}'.format(post.id, post.title) }}</h1>
                <p class="p-style">  {{ post.content | safe  }}</p>
                <div class="meta">
                    <h5 class="p-style credentials"> Created by <span class="author">{{ post.author }}</span> on {{ '{} {} {}, {}:{}'.format(post.creation_date.day, post.creation_date.strftime('%B'), post.creation_date.year, post.creation_date.hour, post.creation_date.minute) }}</h5>
                    <div class="post-actions">
                        <div class="edit">
                            <a class="btn btn-info form-btn" href="/post/edit/{{post.id}}" name="edit-btn"> Edit </a>
                        </div>
                        <div class="delete">
                            <a class="btn btn-info form-btn" href="/post/delete/{{post.id}}" name="delete-btn"> Delete </a>
                        </div>
                    </div>
                </div>
            	<div class="neighbour-posts">
					{% if prev %}
					<h5 class="p-style credentials"><a href="/view/post/{{ prev.id }}"><span class="arrow-icon"><i class="fa fa-caret-left arrow-icon-fa"></i></span>{{ '#{} {}'.format(prev.id, prev.title) }}</a></h5>
					{% else %}
                    <h5></h5>
                    {% endif %}
					{% if next %}
					<h5 class="p-style credentials"><a href="/view/post/{{ next.id }}">{{ '#{} {}'.format(next.id, next.title) }}<span class="arrow-icon"><i class="fa fa-caret-right arrow-icon-fa"></i></span></a></h5>
					{% else %}
                    <h5></h5>
                    {% endif %}
				</div>
			</div>
            <div class="visible-post-comments">
                <h5>Comments ({{ comments_count }}) <span class="caret"><i class="fa fa-caret-down caret-icon-fa"></i></span></h5>
                <hr class="comments-hr">
                <div class="visible-post-comments-content">
                    <div class="leave-comment">
                        <h6 class="comments-h">Leave a comment </h6>
                        <form class="form-horizontal" action="/addcomment/{{ post.id}}" method="post">
                            <div class="form-group row">
                                <label for="com_author" class="col-sm-2 col-form-label" data-toggle="tooltip" title="Type your name here" data-placement="left"> Your name </label>
                                <div class="col-sm-6">
                                    <input type="text" name="author" id="com_author" placeholder="Type your name here" class="form-control" required><br>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="com_content" class="col-sm-2 col-form-label" data-toggle="tooltip" title="Type your comment" data-placement="top"> Your comment </label>
                                <div class="col-sm-6">
                                    <textarea name="content" id="com_content" placeholder="Type your comment here" class="form-control" rows="2" required></textarea><br>
                                </div>
                            </div>
                            <button type="reset" class="btn btn-info form-btn"> Clear </button>
                            <button type="submit" class="btn btn-info form-btn"> Send </button>
                        </form>
                    </div>
                    {% if comments %}
                    <div class="left-comments">
                        {% for comment in comments %}
                        <div class="comment">
                            <p class="p-style comment-p credentials"> <span class="user-icon"><i class="fa fa-user-circle user-icon-fa"></i></span><span class="author"> {{ comment.author }}</span>, {{ '{} {} {}, {}:{}'.format(comment.creation_date.day, comment.creation_date.strftime('%B'), comment.creation_date.year, comment.creation_date.hour, comment.creation_date.minute) }}</p>
                            <span class="quot"><i class="fa fa-quote-left quot-icon-fa"></i></span><span class="p-style">  {{ comment.content }}</span><span><i class="fa fa-quote-right quot-icon-fa"></i></span>
                        </div>
                        {% endfor %}
                    </div>
                    {% else %}
                    <div class="">
                        <p class="p-style">  <br> No comments yet. </p>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% else %}
            <div class="no-visible-posts">
                <h1 class="h-style"> Hi! </h1>
                <p class="p-style">  <br> No posts yet. Add the first one! </p>
            </div>
            {% endif %}
		</section>
{% endblock %}
{% block scripts %}
{{ super() }}
{% endblock%}
