{% extends "start.html" %}
{% block title %}View posts{% endblock %}
{% block content %}
    <section class="section-style container">
        <h1 class="h-style"> View posts </h1>
        {% if contents %}
            <div class="sort-options">
                <a class="btn btn-info form-btn btn-no-round" href="/view/posts/oldestfirst" name="oldestfirst"> Oldest first </a>
                <a class="btn btn-info form-btn btn-no-round" href="/view/posts/newestfirst" name="newestfirst"> Latest first </a>
                <a class="btn btn-info form-btn btn-no-round" href="/view/posts/lastweek" name="lastweek"> Last week</a>
                <a class="btn btn-info form-btn btn-no-round" href="/view/posts/lastmonth" name="lastmonth"> Last month </a>
            </div>
            <h5 class="comments-h vieving-posts">You are viewing posts: {{ current_option }} ({{ count }}) </h5>
            <div class="view-posts">
                {% for post in contents %}
                    <div class="view_post">
                        <h6>
                            <a href="/view/post/{{ post.id }}"> {{ post.title }} </a>
                        </h6>
                        <p class="p-style comment-p credentials"><span class="author"> {{ post.author }}</span>, {{ '{} {} {}, {}:{}'.format(post.creation_date.day, post.creation_date.strftime('%B'), post.creation_date.year, post.creation_date.hour, post.creation_date.strftime('%M')) }}</p>
                        {% if post.content | length >= 300 %}
                            <p class="p-content">{{ post.content | safe | truncate(300) }}
                                <span class="readmore">
                                    <a class="readmorebtn" href="/view/post/{{ post.id }}">Read more</a>
                                </span>
                            </p>
                        {% else %}
                            <p class="p-content">{{ post.content | safe }} </p>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="no-post">
                <h6> No posts available </h6>
            </div>
        {% endif %}
    </section>
{% endblock %}

