{% extends "start.html" %}
{% block title %}View videos{% endblock %}
{% block content %}
    <section class="section-style container">
        <h1 class="h-style"> View videos </h1>
        {% if contents %}
            <div class="sort-options">
                <a class="btn btn-info form-btn btn-no-round" href="/view/videos/oldestfirst" name="oldestfirst"> Oldest first </a>
                <a class="btn btn-info form-btn btn-no-round" href="/view/videos/newestfirst" name="newestfirst"> Latest first </a>
                <a class="btn btn-info form-btn btn-no-round" href="/view/videos/lastweek" name="lastweek"> Last week</a>
                <a class="btn btn-info form-btn btn-no-round" href="/view/videos/lastmonth" name="lastmonth"> Last month </a>
            </div>
            <h5 class="comments-h vieving-posts">You are viewing videos: {{ current_option }} </h5>
            <div class="view-posts">
                {% for video in contents %}
                    <div class="view_post">
                        <h6><a href="/view/post/{{ video.post_id }}">{{ video.name }}</a></h6>
                        <iframe src="{{ video.source }}"></iframe>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="no-post">
                <h6> No videos yet </h6>
            </div>
        {% endif %}
    </section>
{% endblock %}

