{% extends "start.html" %}
{% from 'blocks/block_single_media.html' import block_single_media with context %}
{% from 'blocks/block_sort_options.html' import block_sort_options with context %}
{% block title %} View videos {% endblock %}
{% block content %}
    <section class="section-style container">
        {% if contents %}
            <h1 class="h-style"> View videos </h1>
            {{ block_sort_options('videos') }}
            <h5 class="smaller-h vieving-posts"> Videos: {{ current_option }} ({{ contents | length }}) </h5>
            <div class="view-posts">
                {% for video in contents %}
                    {{ block_single_media(video, type='video') }}
                {% endfor %}
            </div>
        {% else %}
            <div class="no-content">
                <h6> No videos yet </h6>
            </div>
        {% endif %}
    </section>
{% endblock %}

