{% extends "start.html" %}
{% from 'blocks/block_sort_options.html' import block_sort_options with context %}
{% block title %} View posts {% endblock %}
{% block content %}
    <section class="section-style container">
        {% if contents %}
            <h1 class="h-style"> View posts </h1>
            {{ block_sort_options('posts') }}
            <h5 class="smaller-h vieving-posts">Posts: {{ current_option }} ({{ contents | length }}) </h5>
            <div class="view-posts">
                {% for post in contents %}
                    <div class="view_post simplified-posts-view">
                        <h6>
                            <a href="/view/post/{{ post[1].id }}">{{ post[1].title }} </a>
                        </h6>
                        <p class="p-style credentials">
                            <span class="author"> <a href="/profile/{{ post[0].username }}"> {{ post[0].username }}</a></span>,
                            {{ '{} {} {}, {}:{}'.format(post[1].creation_date.day, post[1].creation_date.strftime('%B'),
                            post[1].creation_date.year, post[1].creation_date.hour, post[1].creation_date.strftime('%M')) }}
                            <a href="/view/post/{{ post[1].id }}">
                                <span class="comment-icon icon-small">
                                    <i title="Comments" class="fa fa-comment comment-icon-fa"></i>
                                </span>
                                {{ comments[contents.index(post)] }}
                            </a>
                        </p>
                        <p class="p-content">{{ post[1].content | safe | truncate(300) }}
                            <span class="readmore">
                                <a class="readmorebtn" href="/view/post/{{ post[1].id }}"> Read more </a>
                            </span>
                        </p>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <div class="no-content">
                <h6> No posts yet </h6>
            </div>
        {% endif %}
    </section>
{% endblock %}

