{% extends "start.html" %}
{% block title %}View photos{% endblock %}
{% block content %}
    <section class="section-style container">
        <h1 class="h-style"> View photos </h1>
        {% if contents %}
            <div class="sort-options">
                <a class="btn btn-info form-btn btn-no-round" href="/view/photos/oldestfirst" name="oldestfirst"> Oldest first </a>
                <a class="btn btn-info form-btn btn-no-round" href="/view/photos/newestfirst" name="newestfirst"> Latest first </a>
                <a class="btn btn-info form-btn btn-no-round" href="/view/photos/lastweek" name="lastweek"> Last week</a>
                <a class="btn btn-info form-btn btn-no-round" href="/view/photos/lastmonth" name="lastmonth"> Last month </a>
            </div>
            <h5 class="comments-h vieving-posts">You are viewing photos: {{ current_option }} ({{ count }}) </h5>
            <div class="view-posts viewing-photos">
                {% for photo in contents %}
                     <div class="view_post view-photo-item">
                        <h6>
                            <a href="/view/post/{{ photo.post_id }}">{{ photo.name }}</a>
                        </h6>
                        <img src="{{ photo.source }}" alt="{{ photo.name }}" class="view-photo">
                        </div>
                {% endfor %}
        {% else %}
            <div class="no-post">
                <h6> No photos yet </h6>
            </div>
        {% endif %}
        </div>
    </section>
{% endblock %}

