.page-sidebar {
  position: relative;
  padding: 0 0 0 50px;
  margin-bottom: 50px;
  width: 200px;
  .sidebar {
    margin-top: 30px;
    width: 200px;
  }
  i {
    color: $maincolor;
  }
  .account-icon-fa {
    margin: 0 10px;
    color: $maincolor;
  }
  .user-panel, .stats {
    margin: 10px 0;
    border: $border;
    padding: 10px;
    a {
      color: black;
    }
  }

}

.activity {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 10px;
}
.fixed {
  position: fixed;
  top: 60px;
}
