.jumbotron {
  width: 100%;
  height: 100vh;
  opacity: 0.85;
  display: flex;
  position: relative;
  background-image: url('../../../../../../static/images/background.jpeg');
  background-size: cover;
  background-attachment: fixed;
  align-items: center;
  overflow: hidden;
  .small-jumb {
    width: 60%;
    text-align: center;
    color: $background-color;
    padding: 5%;
    margin: 0 auto;
    z-index: 2;
    letter-spacing: 2px;
    .cursor {
      opacity: 0;
      transition: .2s;
    }
    .cursor-hide {
      opacity: 1;
    }
    .underline {
      padding: 1px;
      background: $background-color;
      width: 80%;
      margin-left: 10%;
      opacity: 0;
      transition: .8s;
    }
    h1 {
      font-size: 48px;
      text-shadow: 0 0 2px;
      letter-spacing: 1px;
      transition: .5s;
    }
    p {
      font-size: 24px;
      font-weight: normal;
      margin-top: 30px;
      padding-bottom: 10%;
      height: 140px;
    }
    .explore-btn {
      width: 100%;
      min-width: 340px;
      font-size: 30px;
      font-weight: bold;
      color: $maincolor;
      transition: 0.8s;
      cursor: pointer;
      border: none;
      background-color: $background-color;
      background-position: 100% 0;
      background-size: 300%;
      background-image: linear-gradient(45deg, $maincolor 50%, transparent 50%);
      padding: 25px;
      margin: 5% auto auto auto;
      box-shadow: 15px 15px 60px 10px gray;
      &:hover {
        color: $background-color;
        background-position: 0 100%;
      }
    }
  }
}
