{% macro block_register_form(feedback) %}
    <div class="login-block">
        <form class="login-form"  method="post" action="/account/register" enctype="multipart/form-data">
            <p class="feedback"> Please keep in mind that this site is not secure yet and <b> do not choose your vulnerable data as credentials. </b></p>
            <div class="form-meta">
                {% if feedback %}
                    <p class="feedback"> {{ feedback }} </p>
                {% endif %}
            </div>
            <div class="form-group">
    {#            <label for="username" data-toggle="tooltip" title="Username" data-placement="left"> Username </label>#}
                <input type="text" name="username" id="username" placeholder="Username (required)" class="form-control" required autofocus><br>
            </div>
            <div class="form-group">
    {#            <label for="password" data-toggle="tooltip" title="Password" data-placement="top"> Password </label>#}
                <input type="password" name="password" id="password" placeholder="Password (required)" class="form-control" required><br>
            </div>
            <div class="form-group">
    {#            <label for="password-again" data-toggle="tooltip" title="Password - again" data-placement="top"> Password (again) </label>#}
                <input type="password" name="password-again" id="password2" placeholder="Repeat password (required)" class="form-control" required><br>
            </div>
            <div class="form-group profile-img-file">
                <label for="profile-image-file" data-toggle="tooltip" id=”upload-label” title="profile-image-label" data-placement="left"> Choose profile image from your files </label>
                <input type="file" name="profile-image-file" id="profile-image-file" placeholder="File" class="form-control" accept="image/jpg"><br>
            </div>
            <div class="form-group profile-img-file">
                <label for="profile-image-link" data-toggle="tooltip" id=”upload-label-2” title="profile-image-label" data-placement="left"> or provide an URL to image </label>
                <input type="text" name="profile-image-link" id="profile-image-link" placeholder="Link" class="form-control"><br>
            </div>
            <button type="submit" class="form-btn login-btn"> Register </button>
            <h5 class="yet-registered">
                Already have an account?
                <a href="{{ url_for('account.login') }}">
                    <b> Login now! </b>
                </a>
            </h5>
        </form>
    </div>
{% endmacro %}
